.inicio,
.inicio * {
  box-sizing: border-box;
}
.inicio {
  background: #ffffff;
  height: 2418px;
  position: relative;
  overflow: hidden;
}
.banner {
  position: absolute;
  inset: 0;
}
.header {
  width: 1440px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-2 {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.group-168 {
  position: absolute;
  inset: 0;
}
.group-2 {
  width: 440px;
  height: 24px;
  position: static;
}
.inicio2 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 61.94%;
  left: 35.07%;
  width: 2.99%;
  bottom: 38%;
  top: 38%;
  height: 24%;
}
.comprar {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 51.25%;
  left: 43.61%;
  width: 5.14%;
  bottom: 38%;
  top: 38%;
  height: 24%;
}
.b-sicos {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 43.89%;
  left: 51.74%;
  width: 4.38%;
  bottom: 38%;
  top: 38%;
  height: 24%;
}
.contacto {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 34.38%;
  left: 60.35%;
  width: 5.28%;
  bottom: 38%;
  top: 38%;
  height: 24%;
}
.group-1 {
  width: 1305px;
  height: 42px;
  position: static;
}
.mdi-account-alert-outline {
  width: 1.94%;
  height: 28%;
  position: absolute;
  right: 22.15%;
  left: 75.9%;
  bottom: 36%;
  top: 36%;
  overflow: visible;
}
.akar-icons-search {
  width: 1.94%;
  height: 28%;
  position: absolute;
  right: 17.08%;
  left: 80.97%;
  bottom: 36%;
  top: 36%;
  overflow: visible;
}
.akar-icons-heart {
  width: 1.94%;
  height: 28%;
  position: absolute;
  right: 12.01%;
  left: 86.04%;
  bottom: 36%;
  top: 36%;
  overflow: visible;
}
.ant-design-shopping-cart-outlined {
  width: 1.94%;
  height: 28%;
  position: absolute;
  right: 6.94%;
  left: 91.11%;
  bottom: 36%;
  top: 36%;
  overflow: visible;
}
.frame-168 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(50% - 685px);
  top: 50%;
  translate: 0 -50%;
}
.freepik-ln-1 {
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.skin-clinic {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 34px;
  font-weight: 700;
  position: relative;
}
.share {
  position: absolute;
  inset: 0;
}
.images {
  width: 1799px;
  height: 721px;
  position: static;
}
.rectangle-35 {
  background: #c4c4c4;
  width: 274px;
  height: 312px;
  position: absolute;
  left: -165px;
  top: 1111px;
}
.rectangle-36 {
  width: 274px;
  height: 382px;
  position: absolute;
  left: -165px;
  top: 1111px;
  object-fit: cover;
}
.rectangle-38 {
  width: 451px;
  height: 312px;
  position: absolute;
  left: 125px;
  top: 1181px;
  object-fit: cover;
}
.rectangle-40 {
  width: 295px;
  height: 392px;
  position: absolute;
  left: 592px;
  top: 1267px;
  object-fit: cover;
}
.rectangle-39 {
  width: 344px;
  height: 242px;
  position: absolute;
  left: 232px;
  top: 1509px;
  object-fit: cover;
}
.rectangle-41 {
  width: 178px;
  height: 242px;
  position: absolute;
  left: 903px;
  top: 1574px;
  object-fit: cover;
}
.rectangle-44 {
  width: 258px;
  height: 196px;
  position: absolute;
  left: 1097px;
  top: 1574px;
  object-fit: cover;
}
.rectangle-43 {
  width: 290px;
  height: 348px;
  position: absolute;
  left: 903px;
  top: 1210px;
  object-fit: cover;
}
.rectangle-45 {
  width: 425px;
  height: 433px;
  position: absolute;
  left: 1209px;
  top: 1125px;
  object-fit: cover;
}
.rectangle-37 {
  width: 381px;
  height: 323px;
  position: absolute;
  left: -165px;
  top: 1509px;
  object-fit: cover;
}
.title {
  width: 233px;
  height: 86px;
  position: static;
}
.title2 {
  color: var(--color-gray-2, #616161);
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 618px;
  top: 1052px;
}
.title3 {
  color: var(--color-gray-1, #3a3a3a);
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 40px;
  line-height: 120%;
  font-weight: 700;
  position: absolute;
  left: 623px;
  top: 1090px;
}
.group-114 {
  position: absolute;
  inset: 0;
}
.rectangle-77 {
  background: #ffe9f8;
  border-radius: 10px;
  width: 1197px;
  height: 443px;
  position: absolute;
  left: 171px;
  top: 482px;
}
.link-video-explicativo-p-gina-ln-atelier-https-realizado-por-silvia-daniela-merch-n-salcedo {
  color: var(--font-color, #333333);
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 30%;
  translate: -50%;
  top: calc(51% - 626px);
  width: 530px;
}
.group-78 {
  position: absolute;
  inset: 0;
}
.rectangle-1 {
  width: 1440px;
  height: 316px;
  position: absolute;
  left: 0px;
  top: 100px;
  filter: blur(3px);
  object-fit: cover;
}
.frame-1682 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(50% - 18.5px);
  top: calc(50% - 2237px);
}
.group-55 {
  color: var(--font-color, #333333);
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  left: 40%;
  translate: -50%;
  top: calc(26% - 626px);
  width: 1500px;
}
.link {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 48px;
  font-weight: 500;
  position: absolute;
  left: 679px;
  top: 222px;
}
.group-56 {
  width: 110px;
  height: 25px;
  position: static;
}
.inicio3 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 665px;
  top: 294px;
}
.link2 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 744px;
  top: 293px;
}
.dashicons-arrow-down-alt-2 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 714px;
  top: 295px;
  overflow: visible;
}
.line-4 {
  margin-top: -1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px 0 0 0;
  width: 86.11%;
  height: 0%;
  position: absolute;
  right: 6.94%;
  left: 6.94%;
  bottom: 59.02%;
  top: 40.98%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.footer {
  width: 1440px;
  height: 505px;
  position: absolute;
  left: 0px;
  top: 1913px;
}
.rectangle-19 {
  background: #ffffff;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.17);
  border-width: 1px 0px 0px 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.group-45 {
  position: absolute;
  inset: 0;
}
.group-32 {
  width: 1169px;
  height: 312px;
  position: static;
}
.carrera-7-115-70-cc-hacienda-santa-b-rbara-110121-bogot-colombia {
  color: #9f9f9f;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 73.12%;
  left: 7.08%;
  width: 19.79%;
  bottom: 59.21%;
  top: 26.53%;
  height: 14.26%;
}
.ln-atelier {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  right: 84.86%;
  left: 6.94%;
  width: 8.19%;
  bottom: 83.37%;
  top: 9.5%;
  height: 7.13%;
}
.group-31 {
  width: 745.99px;
  height: 312px;
  position: static;
}
.group-28 {
  width: 396px;
  height: 312px;
  position: static;
}
.group-26 {
  width: 124px;
  height: 312px;
  position: static;
}
.group-24 {
  width: 122px;
  height: 233px;
  position: static;
}
.inicio4 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 60.56%;
  left: 36.46%;
  width: 2.99%;
  bottom: 70.1%;
  top: 25.15%;
  height: 4.75%;
}
.comprar2 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 58.4%;
  left: 36.46%;
  width: 5.14%;
  bottom: 56.24%;
  top: 39.01%;
  height: 4.75%;
}
.sobre-nosotros {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 55.07%;
  left: 36.46%;
  width: 8.47%;
  bottom: 42.38%;
  top: 52.87%;
  height: 4.75%;
}
.contacto2 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 58.26%;
  left: 36.46%;
  width: 5.28%;
  bottom: 28.71%;
  top: 66.53%;
  height: 4.75%;
}
.links {
  color: #9f9f9f;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 60.9%;
  left: 36.32%;
  width: 2.78%;
  bottom: 85.74%;
  top: 9.5%;
  height: 4.75%;
}
.group-27 {
  width: 184px;
  height: 242px;
  position: static;
}
.ayuda {
  color: #9f9f9f;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 45.28%;
  left: 51.04%;
  width: 3.68%;
  bottom: 85.74%;
  top: 9.5%;
  height: 4.75%;
}
.group-25 {
  width: 184px;
  height: 163px;
  position: static;
}
.opciones-de-pago {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 38.68%;
  left: 51.04%;
  width: 10.28%;
  bottom: 70.1%;
  top: 25.15%;
  height: 4.75%;
}
.devoluciones {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 41.39%;
  left: 51.04%;
  width: 7.57%;
  bottom: 56.24%;
  top: 39.01%;
  height: 4.75%;
}
.pol-ticas-de-privacidad {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 36.18%;
  left: 51.04%;
  width: 12.78%;
  bottom: 42.57%;
  top: 52.67%;
  height: 4.75%;
}
.group-30 {
  width: 323px;
  height: 101px;
  position: static;
}
.nuevas-noticias {
  color: #9f9f9f;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 25.28%;
  left: 65.76%;
  width: 8.96%;
  bottom: 85.35%;
  top: 9.9%;
  height: 4.75%;
}
.group-29 {
  width: 323px;
  height: 24px;
  position: static;
}
.registra-tu-correo-electr-nico {
  color: #9f9f9f;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  right: 19.86%;
  left: 65.76%;
  width: 14.37%;
  bottom: 70.69%;
  top: 25.15%;
  height: 4.16%;
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 14.58%;
  height: 0%;
  position: absolute;
  right: 19.72%;
  left: 65.69%;
  bottom: 70.1%;
  top: 29.9%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.suscribirme {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  right: 12.08%;
  left: 81.6%;
  width: 6.32%;
  bottom: 70.69%;
  top: 25.15%;
  height: 4.16%;
}
.line-3 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 6.6%;
  height: 0%;
  position: absolute;
  right: 11.88%;
  left: 81.53%;
  bottom: 70.1%;
  top: 29.9%;
}
.group-44 {
  width: 1240.01px;
  height: 59px;
  position: static;
}
.line-42 {
  margin-top: -1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px 0 0 0;
  width: 86.11%;
  height: 0%;
  position: absolute;
  right: 6.94%;
  left: 6.94%;
  bottom: 19.21%;
  top: 80.79%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
._2026-ln-atelier-todos-los-derechos-reservados {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 67.15%;
  left: 7.08%;
  width: 25.76%;
  bottom: 7.52%;
  top: 87.72%;
  height: 4.75%;
}
